body{
    font-family: 'Roboto', sans-serif, Arial;
}
form{
    padding-top: 1rem;
}
.calculatorArea{
    background-image: linear-gradient(rgb(255,206,175),rgb(255,142,150));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:30%;
    padding: 2rem;
    border-radius: 15px;
}
.tipArea{
    border-radius: 8px;
    text-align: center;
    color:black;
    background-color: white;
    box-shadow: 1px 1px 2px 1px #EBBDAF;
}

#totalArea{
    background-color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 1px 1px 2px 1px #EBBDAF;
    color: #ff6779;
    font-weight: 540;
}
::-webkit-input-placeholder { /* Edge */
    color:black;
}

:-ms-input-placeholder { /* Internet Explorer */
    color: black;
}

::placeholder {
    color:black;
}
#calculateButton{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    padding: 0.5rem;
    background-color: white;
    outline:none;
    border: 0.5px solid rgb(163, 163, 163);
    cursor: pointer;
}
#calculateButton:hover{
    background-color: #ffceafa6;
}
#calculateButton:focus{
    border: 2px solid black;
}
#tip{
    margin: 0.5rem;
}
#bill{
    margin-bottom: 1rem;
}
.plusMinusButtons{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 15%;
    background-color:white;
    color:#4d4c4c;
    border: 0.5px solid rgb(163, 163, 163);
    outline-color: rgb(131, 131, 131);
    font-weight: 550;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    font-size: 0.9rem;
}
.plusMinusButtons:hover{
    background-color: #ffceaf63;
}
input[type=number] {
    text-align: center;
    background-color: transparent;
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid#948F8F;
    color:black;
    font-weight: 540;
    outline-color: #948F8F;
}


  @media only screen and (max-width: 800px) {
    .calculatorArea{
      position: absolute;
      top: 0%;
      left: 0%;
      transform: none;
      height:100%;
      width: 100%;
      border-radius: 0px;
      padding: 0rem;
    }
    .tipArea{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom:1rem;
      border-radius: 4px;
      text-align: center;
      background-color: white;
      box-shadow: 1px 1px 2px 1px #EBBDAF;
      width: 90%;
  }
    #totalArea{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top:1rem;
      height: 5rem;
      padding-bottom: 2rem;
      border-radius: 4px;
      margin-bottom: 1rem;
      text-align: center;
      box-shadow: 1px 1px 2px 1px #EBBDAF;
      width: 90%;
      background-color: white;
  }
  .plusMinusButtons{
      border: 0.8px solid rgb(163, 163, 163);
      width: 2rem;
      height: 2rem;
 }
  #tip{
      font-size: 1.2rem;
  }
  #calculateButton{
      border-radius: 15px;
      padding: 0.8rem;
      background-color: white;
      outline:none;
      border: 0.5px solid#948F8F;
 }
}