.calculatorArea{
    position: fixed;
    top: 15%;
    left: 42%;
    text-align: center;
    padding: 2rem;
    border: 2px solid black;
}
.tipArea{
    background-color: white;
}
#totalArea{
    background-color:#F9F0FE;
    color: #9D06E8;
    height: 5rem;
    border-radius: 8px;
    padding: 0.5rem;
    border: 2px solid black;
}
#calculateButton{
    margin-bottom: 2rem;
}
#tip{
    margin: 0.5rem;
}
#bill{
    margin-bottom: 1rem;
}
.roundButton{
    border-radius: 50%;
}